<table style="width:100%" id='1'>
    <th>{% for ind,val in deta.Results.items %}
        {{ind}} RESULTS
        {% endfor %}
    </th>
</table>
<table style="width:100%" id='2'></table>
<table style="width:100%" id='3'>
    {% for ind,val in deta.DETAILS.items %}
        <th>{{ind}}</th>   
        <th>{{val}}</th>     
    {% endfor %}
</table>
<table style="width:100%" id='4'>
    <tr>
        <th>SUBJECT_NAME</th>
        <th>SUBJECT_CODE</th>
        <th>GRADE</th>
        <th>CREDITS</th>
    </tr>
    {% for ind,val in deta.Results.items %}
        
        {% for index,value in val.items %} 
            {% if "TOTAL" not in index %}
                <tr>
                    <th>{{value.subject_name}}</th>
                    <th>{{value.subject_code}}</th>
                    <th>{{value.subject_grade}}</th>
                    <th>{{value.subject_credits}}</th>
                </tr>
            {% endif %}
        {% endfor %}   
        <table style="width:100%" id='5'>
            <tr>
                <th style="width:75%">CGPA</th>
                <th>{{val.TOTAL}}</th>
            </tr>
        </table>
    {% endfor %}   
</table>
<br/>